.input {
    padding: 1rem;
    border: 1px solid #a9a9a9;
    border-radius: 13px;
    font-family: 'Inter', sans-serif;
    outline: none;
    position: relative;
    font-family: 'Poppins', sans-serif;

    &:focus {
        outline: none;
    }

    &+span {
        position: absolute;
        right: 1rem;
        top: 52%;
        transform: translate(-50%, -50%);
    }
}