@import "../components/card";

.card_display__Layout ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 85vw;
    margin: auto;
    grid-gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
    }      

    @media (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }      

    @media (max-width: 500px) {
        grid-template-columns: 1fr;
    }      
}